absl-py==0.7.1
asn1crypto==0.24.0
astor==0.7.1
attrs==19.1.0
Automat==0.7.0
bids-validator==1.2.4
blinker==1.4
bz2file==0.98
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
constantly==15.1.0
cryptography==2.7
cssselect==1.0.3
cycler==0.10.0
Cython==0.29.13
decorator==4.4.1
defusedxml==0.6.0
dicom==0.9.9.post1
dill==0.2.9
docopt==0.6.2
ecos==2.0.7.post1
et-xmlfile==1.0.1
etelemetry==0.1.2
filelock==3.0.12
Flask==1.0.2
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-Session==0.3.1
fmriprep-docker==1.5.0
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
graphviz==0.10.1
grpcio==1.19.0
h5py==2.9.0
hyperlink==19.0.0
idna==2.8
imageio==2.6.1
incremental==17.5.0
indexed-gzip==0.8.10
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
Keras==2.2.4
numpy==1.16.2

Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
knnimpute==0.1.0
lockfile==0.12.2
lxml==4.3.4
Markdown==3.0.1
MarkupPy==1.14
MarkupSafe==1.1.1
matplotlib==3.0.3
med2image==1.1.2
mock==2.0.0
mpmath==1.1.0
multiprocess==0.70.7
mysqlclient==1.4.4
networkx==2.4
neurdflib==5.0.0.post1
nibabel==2.3.3
niflow-nipype1-workflows==0.0.1
nilearn==0.5.2

nipype==1.2.3
nitime==0.8.1
odfpy==1.4.0
opencv-python==4.0.0.21
openpyxl==3.0.0
osqp==0.5.0
packaging==19.2
pandas==0.24.2
parsel==1.5.1
patsy==0.5.1
pbr==5.1.3
Pillow==5.4.1
protobuf==3.7.0
prov==1.5.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pybids==0.9.4
pycparser==2.19
pydicom==1.2.2
PyDispatcher==2.0.5
pydot==1.4.1
pydotplus==2.0.2
PyHamcrest==1.9.0
pyOpenSSL==19.0.0
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
PyWavelets==1.1.1
PyYAML==5.1
queuelib==1.5.0
rdflib==4.2.2
requests==2.22.0
scikit-image==0.16.2
scikit-learn==0.20.3
scipy==1.2.1
Scrapy==1.6.0
scs==2.1.0
sdcflows==0.1.3
seaborn==0.9.0
service-identity==18.1.0
simplejson==3.16.0
six==1.12.0
sklearn==0.0
smriprep==0.3.2
SQLAlchemy==1.3.10
statsmodels==0.9.0
svgutils==0.3.1
sympy==1.4
tablib==0.14.0
tedana==0.0.7
templateflow==0.4.1
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.32.2
traits==5.1.2
transforms3d==0.3.1
Twisted==19.2.1
urllib3==1.25.6
versioneer==0.18
w3lib==1.20.0
Werkzeug==0.15.0
xlrd==1.2.0
xlwt==1.3.0
zope.interface==4.6.0
